#day-22 {
    .day-link {
        color: #a42321;
        a {
            border: 1px solid #A42321;
            line-height: 0;
            padding: 6px 5px;
        }
    }
    .wrapper {
        margin-bottom: 0;
        .textwrap {
            width: 400px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            background-color: #cfe1b2;
            @include max-width(500px) {
                width: 280px;
                margin-top: 30px;
                
            }
        }
        .text {
            width: 380px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid white;
            padding-top: 60px;
            padding-bottom: 40px;
        @include max-width(500px) {
                width: 260px;
                
        }}
        .firstfont {
            font-family: 'Josefin Slab', serif;
            font-size: .8em;
            letter-spacing: 8px;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            @include max-width(500px) {
                font-size: .5em;
                letter-spacing: 5px;
        }
        }
        p {
            margin: 0 0 10px;
            text-align: center;
        }
        .text-uppercase {}
        .waiting > *:nth-child(1) {
            -ms-transform: rotate(-10deg);
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
            display: inline-block;
        }
        .waiting > *:nth-child(2) {
            -ms-transform: rotate(-6deg);
            -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
            display: inline-block;
            vertical-align: 5px;
        }
        .waiting > *:nth-child(3) {
            -ms-transform: rotate(-4deg);
            -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
            display: inline-block;
            vertical-align: 7px;
        }
        .waiting > *:nth-child(4) {
            -ms-transform: rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
            display: inline-block;
            vertical-align: 9px;
        }
        .waiting > *:nth-child(5) {
            -ms-transform: rotate(2deg);
            -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
            display: inline-block;
            vertical-align: 8px;
        }
        .waiting > *:nth-child(6) {
            -ms-transform: rotate(8deg);
            -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
            display: inline-block;
            vertical-align: 5px;
        }
        .waiting > *:nth-child(7) {
            -ms-transform: rotate(10deg);
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
            display: inline-block;
            vertical-align: 1px;
        }
        .secondfont {
            font-family: 'Fjalla One', sans-serif;
            font-size: 2em;
            line-height: 2em;
            letter-spacing: 15px;
            color: white;
            padding-left: 15px;
            text-transform: uppercase;
        }
        .thirdfont {
            font-family: 'Parisienne', cursive;
            font-size: 1.75em;
            color: #a81d22;
            background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, #a81d22 50%, #a81d22 52%, transparent 52%, transparent 100%);
        }
        #mistletoe {
            background-color: #cfe1b2;
            padding: 0 10px;
        }
        .fourthfont {
            font-family: 'Old Standard TT', serif;
            font-size: 1.15em;
            color: white;
            letter-spacing: 1px;
            font-style: italic;
            font-weight: 300;
            line-height: 2em;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}