#day-3{
    .day-link{
        color: #a42321;
        a{
            border: 1px solid #a42321;
            line-height: 0;
            padding: 30px 21px 28px;
        }
    }
    
    .wrapper{
        background-color: #6A7982;
//        background-color: #696866;
        padding: 200px 25px 50px 0;
        
        h1{
            font-family: 'Josephin Sans' sans-serif;
            color: #E0DEDC;
            text-align: right;
            font-size: 3em;
            font-weight: 100;
            text-shadow: 3px 2px 0px rgba(73, 95, 110, 1);
            line-height: 1.1em;
            
            span{
                font-family: 'Sacramento';
                font-size: 1.2em;
            }
        }
    }
}