#day-6 {
    .day-link {
        color: #A42321;
        margin-top: 10px;
    a {
        border: 1px solid #A42321;
        padding: 4px 15px 0;
        display: inline;
        line-height: 0;
    }}
    .wrapper {
        background-color: hsl(2, 90%, 40%);
        background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
        repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
        repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
        text-align: center;
        height: 400px;
        padding-top: 50px;
        
        @include max-width(330px){
               height: 200px;
    
            }
    }
    .text {
        display: block;
        padding-top: 30px;
        line-height: 100px;
    
    h1, h2 {
        
        font-size: 4em;
        color: white;
        
        @include max-width(900px){
                font-size: 3em;
            }
            
            @include max-width(600px){
                font-size: 2em;
            }
            
            @include max-width(330px){
                font-size: .7em;
    
            }
    }
    h1 {
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
    }
    h2 {
        font-family: "Permanent Marker", cursive;
    }}
    
}