#day-9{
    .day-link{
        color: #A42321;
        
        a{
            border: 1px solid #a42321;
            line-height: 0;
            padding: 0 11px;
        }
    }
    
    .wrapper{
        background-color: #005F03;
        padding: 50px;
        text-align: center;
        
        
        h1{
            font-family: 'Alice';
//            color: rgba(0,63,2,0.6);
            color: rgba(0,47,2,.6);
            font-size: 3em;
            text-shadow: 2px 2px 3px rgba(255,255,255,0.15);
            display: inline-block;
            padding: 15px;
            
            @include max-width(600px){
                font-size: 2em;
            }
            
            @include max-width(450px){
                font-size: 1.3em;
            }
            
            span{
                font-family: 'Rochester';
                font-size: .8em;
            }
        }
    }
}