#day-1{
    .day-link{
        color: #A42321;
        a{
            border: 1px solid #A42321;
            padding: 25px 15px 15px;
            line-height: 0;
        }
    }
    
    .wrapper{
        background-color: #8B99C1;
        padding: 150px 0;
        
        @include max-width(630px){
            padding: 100px 0;
        }
        
        h1 {
            font-family: 'Montserrat' sans-serif;
            text-transform: uppercase;
            color: #0D297F;
            text-align: center;
            font-size: 6em;
            
            @include max-width(900px){
                font-size: 5em;
            }
            
            @include max-width(630px){
                font-size: 4em;
            }
            
            @include max-width(520px){
                font-size: 3em;
            }
            
            @include max-width(425){
                font-size: 2em;
            }
        }
    
        span {
            font-family: 'Rouge Script' cursive;
            color: #E2E5EF;
            text-transform: none;
            font-size: 1.75em;
            line-height: 0;
        }
    }

}