@keyframes snow {
            0% {
                background-position: 0px 0px, 0px 0px, 0px 0px;
            }
            50% {
                background-position: 500px 500px, 100px 200px, -100px 150px;
            }
            100% {
                background-position: 500px 1000px, 200px 400px, -100px 300px;
            }
        }
        @-moz-keyframes snow {
            0% {
                background-position: 0px 0px, 0px 0px, 0px 0px;
            }
            50% {
                background-position: 500px 500px, 100px 200px, -100px 150px;
            }
            100% {
                background-position: 400px 1000px, 200px 400px, 100px 300px;
            }
        }
        @-webkit-keyframes snow {
            0% {
                background-position: 0px 0px, 0px 0px, 0px 0px;
            }
            50% {
                background-position: 500px 500px, 100px 200px, -100px 150px;
            }
            100% {
                background-position: 500px 1000px, 200px 400px, -100px 300px;
            }
        }
        @-ms-keyframes snow {
            0% {
                background-position: 0px 0px, 0px 0px, 0px 0px;
            }
            50% {
                background-position: 500px 500px, 100px 200px, -100px 150px;
            }
            100% {
                background-position: 500px 1000px, 200px 400px, -100px 300px;
            }
        }
@keyframes fritz {
    0%{opacity: 0;}
    5%{opacity: 1;}
    10%{opacity: 0;}
    12%{opacity: 1;}
    20% {opacity: 0;}
    23% {opacity: 1;}
    75% {opacity: 0;}
    77% {opacity: 1;}
    88% {opacity: 0;}
    91% {opacity: 1;}
    100%{opacity: 1;}
}

@-moz-keyframes fritz {
    0%{opacity: 0;}
    5%{opacity: 1;}
    10%{opacity: 0;}
    12%{opacity: 1;}
    20% {opacity: 0;}
    23% {opacity: 1;}
    75% {opacity: 0;}
    77% {opacity: 1;}
    88% {opacity: 0;}
    91% {opacity: 1;}
    100%{opacity: 1;}
}
@-webkit-keyframes fritz {
    0%{opacity: 0;}
    5%{opacity: 1;}
    10%{opacity: 0;}
    12%{opacity: 1;}
    20% {opacity: 0;}
    23% {opacity: 1;}
    75% {opacity: 0;}
    77% {opacity: 1;}
    88% {opacity: 0;}
    91% {opacity: 1;}
    100%{opacity: 1;}
}
@-ms-keyframes fritz {
    0%{opacity: 0;}
    5%{opacity: 1;}
    10%{opacity: 0;}
    12%{opacity: 1;}
    20% {opacity: 0;}
    23% {opacity: 1;}
    75% {opacity: 0;}
    77% {opacity: 1;}
    88% {opacity: 0;}
    91% {opacity: 1;}
    100%{opacity: 1;}
}


#day-25 {
    .day-link {
        color: #a42321;
        a {
            border: 1px solid #a42321;
            line-height: 0;
            padding: 4px 5px;
        }
    }
    .wrapper {
        padding: 5%;
        position: relative;
        background-color: #6da1cd;
        height: 90vh;
        @include max-width(600px) {
            height: 50vh;
        }
        .snow {
            background: none;
            background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            -webkit-animation: snow 10s linear infinite;
            -moz-animation: snow 10s linear infinite;
            -ms-animation: snow 10s linear infinite;
            animation: snow 10s linear infinite;
        }
        
        h1{
            margin-top: 150px;
            font-family: 'Dosis', sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 5em;
            transform: rotate(-7deg) skewX(-7deg);
            color: white;
            text-shadow: 2px 0 0 #4692c6;
            
            @include max-width(600px) {
                font-size: 3em;
                margin-top: 100px;
            }
        }
        
        h2{
            font-family: 'Cookie', cursive;
            text-align: center;
            margin-left: 45px;
            font-size: 2em;
            transform: rotate(-7deg) skewX(-7deg);
            color: lemonchiffon;
            text-shadow: 0 0 3px lemonchiffon;
            animation: fritz 8s linear infinite;
            -webkit-animation: fritz 8s linear infinite;
            -moz-animation: fritz 8s linear infinite;
            -ms-animation: fritz 8s linear infinite;
            
            @include max-width(600px) {
                font-size: 1.5em;
                margin-left: 10px;
            }
        }
        
    }
}