#day-19 {
    .day-link {
        color: #a42321;
        a {
            border: 1px solid #A42321;
            line-height: 0;
            padding: 0 7px;
        }
    }
    .wrapper {
        box-sizing: border-box;
        background-color: #191970;
        .circle {
            position: relative;
            display: block;
            margin: 2em 0;
            background-color: transparent;
            color: #222;
            text-align: center;
        }
        .circle:after {
            display: block;
            padding-bottom: 100%;
            width: 100%;
            height: 0;
            border-radius: 50%;
            background-color: #ddd;
            content: "";
        }
        .circle-inner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .circle-wrapper {
            display: table;
            width: 100%;
            height: 100%;
            color: darkslateblue;
        }
        .circle-content {
            display: table-cell;
            padding: 1em;
            vertical-align: middle;
            font-family: "opensans", sans-serif;
        }
        @media (min-width: 480px) {
            .circle-content {
                font-size: 1.5em;
            }
        }
        @media (min-width: 768px) {
            .circle-content {
                font-size: 2.2em;
            }
        }
    }
}