@keyframes ring {
    0% { transform: rotateZ(0); }
	1% { transform: rotateZ(30deg); }
	3% { transform: rotateZ(-28deg); }
	5% { transform: rotateZ(34deg); }
	7% { transform: rotateZ(-32deg); }
	9% { transform: rotateZ(30deg); }
	11% {transform: rotateZ(-28deg); }
	13% {transform: rotateZ(26deg); }
	15% {transform: rotateZ(-24deg); }
	17% {transform: rotateZ(22deg); }
	19% {transform: rotateZ(-20deg); }
	21% {transform: rotateZ(18deg); }
	23% {transform: rotateZ(-16deg); }
	25% {transform: rotateZ(14deg); }
	27% {transform: rotateZ(-12deg); }
	29% {transform: rotateZ(10deg); }
	31% {transform: rotateZ(-8deg); }
	33% {transform: rotateZ(6deg); }
	35% {transform: rotateZ(-4deg); }
	37% {transform: rotateZ(2deg); }
	39% {transform: rotateZ(-1deg); }
	41% {transform: rotateZ(1deg); }
	43% {transform: rotateZ(0); }
	100% {transform: rotateZ(0); }
}
    
#day-11 {
    .day-link {
        color: #a42321;
        a {
            border: 1px solid #A42321;
            line-height: 0;
            padding: 0 13px;
        }
    }
    
    .wrapper {
        background-color: #6B061B;
        padding: 75px 0;
        text-align: center;
        @include max-width(700px){
            padding: 50px 0;
        }
        @include max-width(500px){
            padding: 35px 0;
        }
        #bell {
            font-size: 8em;
            display: block;
            padding: 25px;
            animation: ring 8s 1s ease-in-out infinite;
            transform-origin: 50% 4px;
            @include max-width(700px){
                font-size: 6em;
            }
            @include max-width(500px){
                font-size: 5em;
            }
        }
        h1{
            font-family: 'Sacramento';
            color: white;
            font-size: 2em;
            @include max-width(700px){
                font-size: 1.5em;
            }
            @include max-width(500px){
                font-size: 1em;
            }
        }
        
    }
    
}