#day-7{
    .day-link{
        color: #A42321;
        
        a{
        border: 1px solid #A42321;
        padding: 3px 16px;
        line-height: 0;
        }    
    }
    
    .wrapper{
        background-color: #90CFBF;
        border: 3px solid #FF9158;
        padding: 25px 0;
        
        ul{
            font-family: 'Lakki Reddy';
            text-align: center;
            font-size: 3em;
            color: #FDE28F;
            background-color: #FF8158;
            text-shadow: 2px 2px #28E0CA;
            position: relative;
            border-radius: 50% / 10%;
            width: 75%;
            margin: 0 auto;
            height: 300px;
            
            li{

                background-color: #90CFBF;
                display: inline-block;
                padding: 7px;
               
                
            }
        }
    }
    
}