footer{
    background-color: #A42321;
    color: #F1ECDA;
    font-family: 'Playfair Display', serif;
    padding: 25px 0;
    @extend %clearfix;
    
    #denise{
        float: left;
        width: 50%;
//        padding: 25px 200px;
        padding: 0 150px 0 300px;
    }
    
    #kelly{
        float: right;
        width: 50%;
        padding: 0 300px 0 150px;
    }
    
    .bio{
        line-height: 1.2;
        h1{
            font-weight: 700;
            font-size: 2em;
            font-style: italic;
            padding-bottom: 3px;
        }
    }
    
}
