* {
    box-sizing: border-box;
}


.day-post{    
    padding: 20px 0 25px;
}

.day-link {
    font-family: 'Sacramento', script;
    font-size: 2em;
    padding: 5px;
    border-radius: 100;
    text-align: center;
    
    a {
        text-decoration: none;
        color: #A42321;
        margin-top: 45px;
        display: inline;
        border: 2px solid white;
        border-radius: 100px;
        
    }  
}

.wrapper{
    margin: 0 12.5%;
    margin-bottom: 45px;    
}