/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Users/kellymiller/merrycssmas/assets/scss/utilities/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, /Users/kellymiller/merrycssmas/assets/scss/utilities/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/kellymiller/merrycssmas/assets/scss/utilities/_reset.scss */
body {
  line-height: 1; }

/* line 34, /Users/kellymiller/merrycssmas/assets/scss/utilities/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/kellymiller/merrycssmas/assets/scss/utilities/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, /Users/kellymiller/merrycssmas/assets/scss/utilities/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/kellymiller/merrycssmas/assets/scss/utilities/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 3, /Users/kellymiller/merrycssmas/assets/scss/utilities/_extends.scss */
header article:after, #day-10 .wrapper #text h1:after, #day-10 .wrapper #text h2:after, footer:after {
  clear: both;
  content: "";
  display: table; }

/* line 1, /Users/kellymiller/merrycssmas/assets/scss/_global.scss */
* {
  box-sizing: border-box; }

/* line 6, /Users/kellymiller/merrycssmas/assets/scss/_global.scss */
.day-post {
  padding: 20px 0 25px; }

/* line 10, /Users/kellymiller/merrycssmas/assets/scss/_global.scss */
.day-link {
  font-family: 'Sacramento', script;
  font-size: 2em;
  padding: 5px;
  border-radius: 100;
  text-align: center;
  margin-bottom: 15px; }
  /* line 18, /Users/kellymiller/merrycssmas/assets/scss/_global.scss */
  .day-link a {
    text-decoration: none;
    color: #A42321;
    margin-top: 45px;
    display: inline;
    border: 2px solid white;
    border-radius: 100px; }

/* line 29, /Users/kellymiller/merrycssmas/assets/scss/_global.scss */
.wrapper {
  margin: 0 12.5%;
  margin-bottom: 45px; }

/* line 1, /Users/kellymiller/merrycssmas/assets/scss/_header.scss */
header {
  background-color: #A42321;
  height: 550px;
  color: #F1ECDA;
  font-family: 'Playfair Display', serif;
  position: relative; }
  @media (max-width: 900px) {
    header {
      height: 350px; } }
  @media (max-width: 500px) {
    header {
      height: 200px; } }
  /* line 13, /Users/kellymiller/merrycssmas/assets/scss/_header.scss */
  header article {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  /* line 21, /Users/kellymiller/merrycssmas/assets/scss/_header.scss */
  header #title {
    float: left;
    width: 50%; }
    @media (max-width: 500px) {
      header #title {
        float: none;
        width: 100%; } }
    /* line 28, /Users/kellymiller/merrycssmas/assets/scss/_header.scss */
    header #title h1 {
      font-size: 6em;
      font-weight: 700; }
      @media (max-width: 900px) {
        header #title h1 {
          font-size: 4em;
          padding-top: 50px; } }
      @media (max-width: 500px) {
        header #title h1 {
          font-size: 2em;
          width: 100%;
          margin-bottom: 15px; } }
      @media (max-width: 500px) {
        header #title h1 br {
          display: none; } }
  /* line 47, /Users/kellymiller/merrycssmas/assets/scss/_header.scss */
  header #subtitle {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 220px; }
    @media (max-width: 900px) {
      header #subtitle {
        margin-top: 150px; } }
    @media (max-width: 500px) {
      header #subtitle {
        float: none;
        margin-top: 0;
        width: 100%;
        text-align: left; } }
    /* line 61, /Users/kellymiller/merrycssmas/assets/scss/_header.scss */
    header #subtitle h2 {
      font-style: italic;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 1.4em; }
      @media (max-width: 900px) {
        header #subtitle h2 {
          font-size: 1.2em; } }
      @media (max-width: 500px) {
        header #subtitle h2 {
          margin-bottom: 8px; } }
    /* line 73, /Users/kellymiller/merrycssmas/assets/scss/_header.scss */
    header #subtitle h3 {
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 2px;
      font-size: 1em;
      display: inline-block; }
      @media (max-width: 900px) {
        header #subtitle h3 {
          font-size: .7em; } }
      @media (max-width: 500px) {
        header #subtitle h3 {
          margin-bottom: 0px; } }
      /* line 86, /Users/kellymiller/merrycssmas/assets/scss/_header.scss */
      header #subtitle h3 a {
        display: inline-block;
        color: #F1ECDA;
        text-decoration: none; }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day1.scss */
#day-1 .day-link {
  color: #A42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day1.scss */
  #day-1 .day-link a {
    border: 1px solid #A42321;
    padding: 3px 21px;
    line-height: 0; }
/* line 11, /Users/kellymiller/merrycssmas/assets/scss/_day1.scss */
#day-1 .wrapper {
  background-color: #8B99C1;
  padding: 150px 0; }
  @media (max-width: 630px) {
    #day-1 .wrapper {
      padding: 100px 0; } }
  /* line 19, /Users/kellymiller/merrycssmas/assets/scss/_day1.scss */
  #day-1 .wrapper h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #0D297F;
    text-align: center;
    font-size: 6em;
    line-height: 90px; }
    @media (max-width: 900px) {
      #day-1 .wrapper h1 {
        font-size: 5em;
        line-height: 72px; } }
    @media (max-width: 630px) {
      #day-1 .wrapper h1 {
        font-size: 4em;
        line-height: 58px; } }
    @media (max-width: 520px) {
      #day-1 .wrapper h1 {
        font-size: 3em;
        line-height: 42px; } }
    @media (max-width: 425px) {
      #day-1 .wrapper h1 {
        font-size: 2em;
        line-height: 30px; } }
  /* line 48, /Users/kellymiller/merrycssmas/assets/scss/_day1.scss */
  #day-1 .wrapper span {
    font-family: 'Rouge Script', cursive;
    color: #E2E5EF;
    text-transform: none;
    font-size: 1.75em;
    line-height: 0; }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day2.scss */
#day-2 .day-link {
  color: #A42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day2.scss */
  #day-2 .day-link a {
    border: 1px solid #A42321;
    padding: 4px 15px;
    line-height: 0; }
/* line 9, /Users/kellymiller/merrycssmas/assets/scss/_day2.scss */
#day-2 .wrapper {
  padding: 90px 50px 50px;
  background: -webkit-linear-gradient(#fff, #ccc);
  background: linear-gradient(#fff, #ccc);
  border: 10px double darkred; }
  @media (max-width: 630px) {
    #day-2 .wrapper {
      padding: 100px 0; } }
/* line 22, /Users/kellymiller/merrycssmas/assets/scss/_day2.scss */
#day-2 #script h1 {
  text-align: center;
  font-family: "Playball", cursive;
  font-size: 4em;
  color: darkgreen;
  text-shadow: 2px 2px 1px white; }
  @media (max-width: 900px) {
    #day-2 #script h1 {
      font-size: 3em; } }
  @media (max-width: 600px) {
    #day-2 #script h1 {
      font-size: 2em; } }
  @media (max-width: 330px) {
    #day-2 #script h1 {
      font-size: 1.5em; } }
/* line 43, /Users/kellymiller/merrycssmas/assets/scss/_day2.scss */
#day-2 #jolly h1 {
  text-align: center;
  margin: 10px 10px 20px 10px;
  font-family: "Playfair Display", serif;
  font-size: 6em;
  text-transform: uppercase;
  color: darkred;
  text-shadow: 3px 3px 0px white, 5px 5px 0px #707070; }
  @media (max-width: 900px) {
    #day-2 #jolly h1 {
      font-size: 5em; } }
  @media (max-width: 600px) {
    #day-2 #jolly h1 {
      font-size: 4em; } }
  @media (max-width: 330px) {
    #day-2 #jolly h1 {
      font-size: 2em; } }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day3.scss */
#day-3 .day-link {
  color: #a42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day3.scss */
  #day-3 .day-link a {
    border: 1px solid #a42321;
    line-height: 0;
    padding: 2px 16px; }
/* line 11, /Users/kellymiller/merrycssmas/assets/scss/_day3.scss */
#day-3 .wrapper {
  background-color: #696866;
  padding: 200px 25px 50px 0; }
  @media (max-width: 900px) {
    #day-3 .wrapper {
      padding: 185px 25px 50px 0; } }
  @media (max-width: 750px) {
    #day-3 .wrapper {
      padding: 160px 25px 50px 0; } }
  @media (max-width: 450px) {
    #day-3 .wrapper {
      padding: 112px 25px 50px 0; } }
  /* line 28, /Users/kellymiller/merrycssmas/assets/scss/_day3.scss */
  #day-3 .wrapper h1 {
    font-family: 'Josephin Sans', sans-serif;
    color: #E0DEDC;
    text-align: right;
    font-size: 3em;
    font-weight: 100;
    text-shadow: 3px 2px 0px #4f4e4d;
    line-height: 1.1em; }
    @media (max-width: 900px) {
      #day-3 .wrapper h1 {
        font-size: 2.5em; } }
    @media (max-width: 750px) {
      #day-3 .wrapper h1 {
        font-size: 2em; } }
    @media (max-width: 585px) {
      #day-3 .wrapper h1 {
        font-size: 1.5em; } }
    @media (max-width: 450px) {
      #day-3 .wrapper h1 {
        font-size: 1em; } }
    /* line 54, /Users/kellymiller/merrycssmas/assets/scss/_day3.scss */
    #day-3 .wrapper h1 span {
      font-family: 'Sacramento', cursive;
      font-size: 1.2em; }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
#day-4 .day-link {
  color: #A42321; }
/* line 5, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
#day-4 a {
  border: 1px solid #A42321;
  padding: 3px 14px;
  line-height: 0; }
/* line 10, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
#day-4 .wrapper {
  background-color: #3a56a6;
  text-align: center;
  height: 320px;
  padding: 20px; }
/* line 19, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
#day-4 #heart {
  font-family: 'Arial', sans-serif;
  font-size: 250px;
  display: block;
  height: 200px;
  margin: auto;
  text-align: center;
  color: #dd468c;
  -webkit-animation: pound 1s infinite;
          animation: pound 1s infinite;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center; }
/* line 30, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
#day-4 #text {
  text-align: center;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transform: translateY(-80%);
      -ms-transform: translateY(-80%);
          transform: translateY(-80%);
  line-height: 4em; }
  @media (max-width: 330px) {
    #day-4 #text {
      font-size: 1em;
      line-height: 2em; } }
/* line 42, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
#day-4 p {
  font-family: 'Lakki Reddy', cursive;
  font-size: 2em;
  color: white;
  line-height: 2em; }
  @media (max-width: 900px) {
    #day-4 p {
      font-size: 1.5em; } }
  @media (max-width: 750px) {
    #day-4 p {
      font-size: 1.2em; } }
  @media (max-width: 330px) {
    #day-4 p {
      font-size: 1em; } }
/* line 61, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
#day-4 span {
  color: #dd468c; }

@-webkit-keyframes "pound" {
  /* line 67, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

  /* line 74, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

  /* line 81, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes "pound" {
  /* line 67, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

  /* line 74, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

  /* line 81, /Users/kellymiller/merrycssmas/assets/scss/_day4.scss */
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day5.scss */
#day-5 .day-link {
  color: #a42321;
  margin-top: 10px; }
  /* line 5, /Users/kellymiller/merrycssmas/assets/scss/_day5.scss */
  #day-5 .day-link a {
    border: 1px solid #a42321;
    line-height: 0;
    display: inline;
    padding: 2px 15px 1px; }
/* line 12, /Users/kellymiller/merrycssmas/assets/scss/_day5.scss */
#day-5 .wrapper {
  position: relative;
  margin-top: 25px; }
  /* line 15, /Users/kellymiller/merrycssmas/assets/scss/_day5.scss */
  #day-5 .wrapper h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 4em;
    line-height: 1.2em;
    background: -webkit-linear-gradient(#005B97, #3399CC, #CCE0F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 30px 0; }
    /* line 25, /Users/kellymiller/merrycssmas/assets/scss/_day5.scss */
    #day-5 .wrapper h1:before {
      content: open-quote;
      color: aquamarine; }
    /* line 30, /Users/kellymiller/merrycssmas/assets/scss/_day5.scss */
    #day-5 .wrapper h1:after {
      content: close-quote; }
    @media (max-width: 610px) {
      #day-5 .wrapper h1 {
        font-size: 3em; } }
    @media (max-width: 460px) {
      #day-5 .wrapper h1 {
        font-size: 2em; } }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day6.scss */
#day-6 .day-link {
  color: #A42321;
  margin-top: 10px; }
  /* line 5, /Users/kellymiller/merrycssmas/assets/scss/_day6.scss */
  #day-6 .day-link a {
    border: 1px solid #A42321;
    padding: 0 11px;
    display: inline;
    line-height: 0; }
/* line 11, /Users/kellymiller/merrycssmas/assets/scss/_day6.scss */
#day-6 .wrapper {
  background-color: #c2160a;
  background-image: -webkit-repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px), -webkit-repeating-linear-gradient(180deg, transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px), -webkit-repeating-linear-gradient(325deg, transparent, transparent 2px, rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, 0.2) 5px);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px), repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px), repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, 0.2) 5px);
  text-align: center;
  padding-bottom: 50px; }
  @media (max-width: 330px) {
    #day-6 .wrapper {
      height: 200px; } }
/* line 23, /Users/kellymiller/merrycssmas/assets/scss/_day6.scss */
#day-6 .text {
  display: block;
  padding-top: 30px;
  line-height: 100px; }
  @media (max-width: 600px) {
    #day-6 .text {
      line-height: 40px; } }
  /* line 32, /Users/kellymiller/merrycssmas/assets/scss/_day6.scss */
  #day-6 .text h1, #day-6 .text h2 {
    font-size: 4em;
    color: white; }
    @media (max-width: 900px) {
      #day-6 .text h1, #day-6 .text h2 {
        font-size: 3em; } }
    @media (max-width: 600px) {
      #day-6 .text h1, #day-6 .text h2 {
        font-size: 2em; } }
    @media (max-width: 330px) {
      #day-6 .text h1, #day-6 .text h2 {
        font-size: .7em; } }
  /* line 50, /Users/kellymiller/merrycssmas/assets/scss/_day6.scss */
  #day-6 .text h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase; }
  /* line 54, /Users/kellymiller/merrycssmas/assets/scss/_day6.scss */
  #day-6 .text h2 {
    font-family: "Permanent Marker", cursive; }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day7.scss */
#day-7 .day-link {
  color: #A42321; }
  /* line 5, /Users/kellymiller/merrycssmas/assets/scss/_day7.scss */
  #day-7 .day-link a {
    border: 1px solid #A42321;
    padding: 0 14px;
    line-height: 0; }
/* line 12, /Users/kellymiller/merrycssmas/assets/scss/_day7.scss */
#day-7 .wrapper {
  background-color: #90CFBF;
  border: 8px solid #FF9158;
  border-radius: 10px;
  padding: 25px 0; }
  /* line 18, /Users/kellymiller/merrycssmas/assets/scss/_day7.scss */
  #day-7 .wrapper ul {
    font-family: 'Lakki Reddy';
    text-align: center;
    font-size: 4em;
    color: #FDE28F;
    text-shadow: 1px 1px #CC7446;
    margin: 0 auto;
    padding: 100px 0; }
    @media (max-width: 1000px) {
      #day-7 .wrapper ul {
        font-size: 2.5em;
        padding: 80px 0; } }
    @media (max-width: 760px) {
      #day-7 .wrapper ul {
        font-size: 2em; } }
    @media (max-width: 675px) {
      #day-7 .wrapper ul {
        font-size: 1.4em;
        padding: 50px 0; } }
    @media (max-width: 520px) {
      #day-7 .wrapper ul {
        font-size: 1.2em;
        padding: 30px 0; } }
    @media (max-width: 400px) {
      #day-7 .wrapper ul {
        font-size: 1em; } }
    /* line 50, /Users/kellymiller/merrycssmas/assets/scss/_day7.scss */
    #day-7 .wrapper ul li {
      background-color: #FF8158;
      display: inline-block;
      padding: 13px;
      margin-top: 15px;
      height: 60px; }
      @media (max-width: 1000px) {
        #day-7 .wrapper ul li {
          height: 50px; } }
      @media (max-width: 760px) {
        #day-7 .wrapper ul li {
          height: 41px; } }
      @media (max-width: 675px) {
        #day-7 .wrapper ul li {
          height: 33px;
          padding: 10px; } }
      @media (max-width: 520px) {
        #day-7 .wrapper ul li {
          height: 25px;
          padding: 7px; } }
      @media (max-width: 400px) {
        #day-7 .wrapper ul li {
          height: 20px;
          padding: 5px; } }
      /* line 80, /Users/kellymiller/merrycssmas/assets/scss/_day7.scss */
      #day-7 .wrapper ul li:nth-child(odd) {
        -webkit-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
                transform: rotate(2deg); }
      /* line 84, /Users/kellymiller/merrycssmas/assets/scss/_day7.scss */
      #day-7 .wrapper ul li:nth-child(even) {
        -webkit-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
                transform: rotate(-5deg); }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day8.scss */
#day-8 .day-link {
  color: #A42321; }
  /* line 5, /Users/kellymiller/merrycssmas/assets/scss/_day8.scss */
  #day-8 .day-link a {
    border: 1px solid #a42321;
    line-height: 0;
    padding: 0 13px; }
/* line 12, /Users/kellymiller/merrycssmas/assets/scss/_day8.scss */
#day-8 .wrapper {
  background-color: #005F03;
  padding: 50px;
  text-align: center; }
  /* line 18, /Users/kellymiller/merrycssmas/assets/scss/_day8.scss */
  #day-8 .wrapper h1 {
    font-family: 'Alice';
    color: rgba(0, 47, 2, 0.6);
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.15);
    display: inline-block;
    padding: 15px; }
    @media (max-width: 600px) {
      #day-8 .wrapper h1 {
        font-size: 2em; } }
    @media (max-width: 450px) {
      #day-8 .wrapper h1 {
        font-size: 1.3em; } }
    /* line 35, /Users/kellymiller/merrycssmas/assets/scss/_day8.scss */
    #day-8 .wrapper h1 span {
      font-family: 'Rochester';
      font-size: .8em; }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
#day-9 .day-link {
  color: #a42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
  #day-9 .day-link a {
    border: 1px solid #A42321;
    line-height: 0;
    padding: 0 12px; }
/* line 10, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
#day-9 .wrapper {
  background-color: #E8CAA8;
  padding: 50px 0;
  text-align: center;
  height: 350px; }
  /* line 16, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
  #day-9 .wrapper #envelope {
    margin: 0 auto;
    width: 85%;
    position: relative; }
  /* line 21, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
  #day-9 .wrapper #flap {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120px 100px 120px;
    border-color: transparent transparent #e289ae transparent;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media (max-width: 450px) {
      #day-9 .wrapper #flap {
        border-width: 0 115px 100px 115px; } }
  /* line 35, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
  #day-9 .wrapper #letter {
    background-color: #F1DBDA;
    width: 200px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 10px 8px 30px;
    z-index: 1; }
    @media (max-width: 450px) {
      #day-9 .wrapper #letter {
        padding-bottom: 65px; } }
  /* line 48, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
  #day-9 .wrapper h1 {
    font-family: 'Crafty Girls';
    color: black;
    font-size: 1em;
    line-height: 1.2em; }
    @media (max-width: 450px) {
      #day-9 .wrapper h1 {
        font-size: .9em; } }
  /* line 58, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
  #day-9 .wrapper #left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 140px 0 0 240px;
    border-color: transparent transparent transparent #e289ae;
    position: absolute;
    left: 50%;
    top: 100px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2; }
    @media (max-width: 450px) {
      #day-9 .wrapper #left {
        border-width: 135px 0 0 230px; } }
  /* line 75, /Users/kellymiller/merrycssmas/assets/scss/_day9.scss */
  #day-9 .wrapper #right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 140px 240px;
    border-color: transparent transparent #e289ae transparent;
    position: absolute;
    left: 50%;
    top: 100px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2; }
    @media (max-width: 450px) {
      #day-9 .wrapper #right {
        border-width: 0 0 135px 230px; } }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
#day-10 .day-link {
  color: #A42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
  #day-10 .day-link a {
    border: 1px solid #a42321;
    line-height: 0;
    padding: 0 6px; }
/* line 10, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
#day-10 .wrapper {
  background-color: #dfe0df;
  padding: 50px;
  text-align: center; }
  /* line 14, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
  #day-10 .wrapper #text {
    width: 100%;
    margin: 0 auto;
    margin-top: -35px; }
    @media (min-width: 850px) {
      #day-10 .wrapper #text {
        width: 80%; } }
    /* line 21, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
    #day-10 .wrapper #text #oh {
      text-align: left; }
      @media (max-width: 750px) {
        #day-10 .wrapper #text #oh {
          font-size: 6em;
          line-height: initial; } }
      @media (max-width: 600px) {
        #day-10 .wrapper #text #oh {
          font-size: 5em;
          line-height: initial; } }
      @media (max-width: 450px) {
        #day-10 .wrapper #text #oh {
          font-size: 3em; } }
    /* line 35, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
    #day-10 .wrapper #text h1 {
      font-family: 'Rouge Script', cursive;
      color: #b8b487;
      font-size: 8em;
      display: block;
      text-align: right; }
      @media (max-width: 750px) {
        #day-10 .wrapper #text h1 {
          font-size: 5em; } }
      @media (max-width: 600px) {
        #day-10 .wrapper #text h1 {
          font-size: 4em;
          text-align: center; } }
      @media (max-width: 450px) {
        #day-10 .wrapper #text h1 {
          font-size: 3em;
          text-align: center; } }
    /* line 54, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
    #day-10 .wrapper #text h2 {
      font-family: 'PT Sans Narrow', sans-serif;
      color: white;
      font-size: 3em;
      text-transform: uppercase;
      text-align: left;
      padding-bottom: 0; }
      @media (min-width: 1000px) {
        #day-10 .wrapper #text h2 {
          font-size: 3.5em; } }
      @media (max-width: 670px) {
        #day-10 .wrapper #text h2 {
          font-size: 2em; } }
      @media (max-width: 450px) {
        #day-10 .wrapper #text h2 {
          font-size: 1.3em; } }
/* line 74, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
#day-10 .tree {
  padding-left: 40px;
  display: inline-block;
  position: relative;
  top: 45px;
  right: -90px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 40px 30px;
  border-color: transparent transparent #326b45 transparent; }
  /* line 86, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
  #day-10 .tree:before, #day-10 .tree:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #326b45 transparent; }
  /* line 94, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
  #day-10 .tree:before {
    top: -45px;
    right: -20px;
    border-width: 0 40px 52px 40px; }
  /* line 99, /Users/kellymiller/merrycssmas/assets/scss/_day10.scss */
  #day-10 .tree:after {
    top: 5px;
    left: -33px;
    border-width: 0 60px 65px 50px; }
  @media (max-width: 660px) {
    #day-10 .tree {
      display: none; } }
@media (max-width: 600px) {
  #day-10 .tree-two {
    display: none; } }
@media (max-width: 750px) {
  #day-10 .tree-three {
    display: none; } }

@-webkit-keyframes ring {
  /* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }

  /* line 3, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  1% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg); }

  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  3% {
    -webkit-transform: rotateZ(-28deg);
            transform: rotateZ(-28deg); }

  /* line 5, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  5% {
    -webkit-transform: rotateZ(34deg);
            transform: rotateZ(34deg); }

  /* line 6, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  7% {
    -webkit-transform: rotateZ(-32deg);
            transform: rotateZ(-32deg); }

  /* line 7, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  9% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg); }

  /* line 8, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  11% {
    -webkit-transform: rotateZ(-28deg);
            transform: rotateZ(-28deg); }

  /* line 9, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  13% {
    -webkit-transform: rotateZ(26deg);
            transform: rotateZ(26deg); }

  /* line 10, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  15% {
    -webkit-transform: rotateZ(-24deg);
            transform: rotateZ(-24deg); }

  /* line 11, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  17% {
    -webkit-transform: rotateZ(22deg);
            transform: rotateZ(22deg); }

  /* line 12, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  19% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg); }

  /* line 13, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  21% {
    -webkit-transform: rotateZ(18deg);
            transform: rotateZ(18deg); }

  /* line 14, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  23% {
    -webkit-transform: rotateZ(-16deg);
            transform: rotateZ(-16deg); }

  /* line 15, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  25% {
    -webkit-transform: rotateZ(14deg);
            transform: rotateZ(14deg); }

  /* line 16, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  27% {
    -webkit-transform: rotateZ(-12deg);
            transform: rotateZ(-12deg); }

  /* line 17, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  29% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg); }

  /* line 18, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  31% {
    -webkit-transform: rotateZ(-8deg);
            transform: rotateZ(-8deg); }

  /* line 19, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  33% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg); }

  /* line 20, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg); }

  /* line 21, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  37% {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg); }

  /* line 22, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  39% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg); }

  /* line 23, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  41% {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg); }

  /* line 24, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  43% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }

  /* line 25, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); } }

@keyframes ring {
  /* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }

  /* line 3, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  1% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg); }

  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  3% {
    -webkit-transform: rotateZ(-28deg);
            transform: rotateZ(-28deg); }

  /* line 5, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  5% {
    -webkit-transform: rotateZ(34deg);
            transform: rotateZ(34deg); }

  /* line 6, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  7% {
    -webkit-transform: rotateZ(-32deg);
            transform: rotateZ(-32deg); }

  /* line 7, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  9% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg); }

  /* line 8, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  11% {
    -webkit-transform: rotateZ(-28deg);
            transform: rotateZ(-28deg); }

  /* line 9, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  13% {
    -webkit-transform: rotateZ(26deg);
            transform: rotateZ(26deg); }

  /* line 10, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  15% {
    -webkit-transform: rotateZ(-24deg);
            transform: rotateZ(-24deg); }

  /* line 11, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  17% {
    -webkit-transform: rotateZ(22deg);
            transform: rotateZ(22deg); }

  /* line 12, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  19% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg); }

  /* line 13, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  21% {
    -webkit-transform: rotateZ(18deg);
            transform: rotateZ(18deg); }

  /* line 14, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  23% {
    -webkit-transform: rotateZ(-16deg);
            transform: rotateZ(-16deg); }

  /* line 15, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  25% {
    -webkit-transform: rotateZ(14deg);
            transform: rotateZ(14deg); }

  /* line 16, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  27% {
    -webkit-transform: rotateZ(-12deg);
            transform: rotateZ(-12deg); }

  /* line 17, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  29% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg); }

  /* line 18, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  31% {
    -webkit-transform: rotateZ(-8deg);
            transform: rotateZ(-8deg); }

  /* line 19, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  33% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg); }

  /* line 20, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  35% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg); }

  /* line 21, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  37% {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg); }

  /* line 22, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  39% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg); }

  /* line 23, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  41% {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg); }

  /* line 24, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  43% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }

  /* line 25, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); } }

/* line 29, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
#day-11 .day-link {
  color: #a42321; }
  /* line 31, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  #day-11 .day-link a {
    border: 1px solid #A42321;
    line-height: 0;
    padding: 0 13px; }
/* line 38, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
#day-11 .wrapper {
  background-color: #6B061B;
  padding: 75px 0;
  text-align: center; }
  @media (max-width: 700px) {
    #day-11 .wrapper {
      padding: 50px 0; } }
  @media (max-width: 500px) {
    #day-11 .wrapper {
      padding: 35px 0; } }
  /* line 48, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  #day-11 .wrapper #bell {
    font-size: 8em;
    display: block;
    padding: 25px;
    -webkit-animation: ring 8s 1s ease-in-out infinite;
            animation: ring 8s 1s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
        -ms-transform-origin: 50% 4px;
            transform-origin: 50% 4px; }
    @media (max-width: 700px) {
      #day-11 .wrapper #bell {
        font-size: 6em; } }
    @media (max-width: 500px) {
      #day-11 .wrapper #bell {
        font-size: 5em; } }
  /* line 61, /Users/kellymiller/merrycssmas/assets/scss/_day11.scss */
  #day-11 .wrapper h1 {
    font-family: 'Sacramento';
    color: white;
    font-size: 2em; }
    @media (max-width: 700px) {
      #day-11 .wrapper h1 {
        font-size: 1.5em; } }
    @media (max-width: 500px) {
      #day-11 .wrapper h1 {
        font-size: 1em; } }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day12.scss */
#day-12 .day-link {
  color: #a42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day12.scss */
  #day-12 .day-link a {
    border: 1px solid #A42321;
    line-height: 0;
    padding: 2px 9px; }
/* line 10, /Users/kellymiller/merrycssmas/assets/scss/_day12.scss */
#day-12 .wrapper {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 0);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 0);
  background-position: auto auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 50px 50px;
  background-color: #B4D8E7;
  height: 0 50vh auto; }
/* line 24, /Users/kellymiller/merrycssmas/assets/scss/_day12.scss */
#day-12 #quote {
  color: white;
  width: 100%;
  font-family: "Tangerine", cursive;
  text-align: center;
  padding: 2.2vh;
  font-size: 2.7em;
  line-height: 15vh; }
  @media (min-width: 1100px) {
    #day-12 #quote {
      font-size: 4em; } }
  @media (max-width: 950px) {
    #day-12 #quote {
      font-size: 2.5em; } }
  @media (max-width: 550px) {
    #day-12 #quote {
      font-size: 1.8em;
      line-height: 10vh; } }
/* line 43, /Users/kellymiller/merrycssmas/assets/scss/_day12.scss */
#day-12 span {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 15vh;
  display: inline-block;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 13px; }
/* line 52, /Users/kellymiller/merrycssmas/assets/scss/_day12.scss */
#day-12 h2 {
  font-family: "oswald", sans-serif;
  text-align: right;
  font-size: .5em;
  padding: 0 auto;
  margin: 0 auto; }
/* line 59, /Users/kellymiller/merrycssmas/assets/scss/_day12.scss */
#day-12 #quote h1 {
  padding: 0 auto;
  margin: 0 auto; }
  @media (max-width: 550px) {
    #day-12 #quote h1 {
      line-height: 5vh; } }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day13.scss */
#day-13 .day-link {
  color: #a42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day13.scss */
  #day-13 .day-link a {
    border: 1px solid #A42321;
    line-height: 0;
    padding: 0 9px; }
/* line 10, /Users/kellymiller/merrycssmas/assets/scss/_day13.scss */
#day-13 .wrapper {
  background-color: black;
  background-image: -webkit-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -webkit-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -webkit-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -webkit-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  padding: 100px 0;
  text-align: center;
  color: white; }
  /* line 23, /Users/kellymiller/merrycssmas/assets/scss/_day13.scss */
  #day-13 .wrapper h1 {
    font-family: 'Parisienne';
    font-size: 3em;
    line-height: 1.5em; }
    @media (max-width: 850px) {
      #day-13 .wrapper h1 {
        font-size: 2.5em; } }
    @media (max-width: 675px) {
      #day-13 .wrapper h1 {
        font-size: 2em; } }
    @media (max-width: 530px) {
      #day-13 .wrapper h1 {
        font-size: 1.5em; } }
    @media (max-width: 400px) {
      #day-13 .wrapper h1 {
        font-size: 1em; } }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day14.scss */
#day-14 .day-link {
  color: #a42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day14.scss */
  #day-14 .day-link a {
    border: 1px solid #A42321;
    line-height: 0;
    padding: 0 6px; }
/* line 10, /Users/kellymiller/merrycssmas/assets/scss/_day14.scss */
#day-14 .wrapper {
  background-color: #fffa50;
  padding: 100px 0;
  text-align: center; }
  /* line 14, /Users/kellymiller/merrycssmas/assets/scss/_day14.scss */
  #day-14 .wrapper h1 {
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: -2px;
    position: relative;
    color: rgba(46, 184, 92, 0.5); }
    /* line 23, /Users/kellymiller/merrycssmas/assets/scss/_day14.scss */
    #day-14 .wrapper h1:after {
      content: "Merry + Bright";
      position: absolute;
      display: inline;
      left: -4px;
      top: -4px;
      color: rgba(255, 0, 40, 0.5); }
    @media (min-width: 1000px) {
      #day-14 .wrapper h1 {
        font-size: 5em; } }
    @media (max-width: 675px) {
      #day-14 .wrapper h1 {
        font-size: 3.5em; } }
    @media (max-width: 450px) {
      #day-14 .wrapper h1 {
        font-size: 2.4em; } }

@-webkit-keyframes red-blink {
  /* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  0%, 100% {
    color: #0C4883;
    text-shadow: 0 0 0 #0C4883; }

  /* line 6, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  50% {
    color: #FF1D25;
    text-shadow: 0 0 21px #FF1D25; } }

@keyframes red-blink {
  /* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  0%, 100% {
    color: #0C4883;
    text-shadow: 0 0 0 #0C4883; }

  /* line 6, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  50% {
    color: #FF1D25;
    text-shadow: 0 0 21px #FF1D25; } }

@-webkit-keyframes green-blink {
  /* line 13, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  0%, 100% {
    color: #39B54A;
    text-shadow: 0 0 21px #39B54A; }

  /* line 17, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  50% {
    color: #0C4883;
    text-shadow: 0 0 0 #0C4883; } }

@keyframes green-blink {
  /* line 13, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  0%, 100% {
    color: #39B54A;
    text-shadow: 0 0 21px #39B54A; }

  /* line 17, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  50% {
    color: #0C4883;
    text-shadow: 0 0 0 #0C4883; } }

/* line 24, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
#day-15 .day-link {
  color: #a42321; }
  /* line 26, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  #day-15 .day-link a {
    border: 1px solid #a42321;
    line-height: 0;
    padding: 0 8px; }
/* line 33, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
#day-15 .wrapper {
  background-color: #0C4883;
  padding: 100px 0; }
  /* line 37, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  #day-15 .wrapper h1 {
    color: white;
    font-family: 'Rochester';
    text-align: center;
    font-size: 5em;
    text-shadow: 0 0 5px white; }
    @media (max-width: 700px) {
      #day-15 .wrapper h1 {
        font-size: 4em; } }
    @media (max-width: 450px) {
      #day-15 .wrapper h1 {
        font-size: 3em; } }
  /* line 52, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  #day-15 .wrapper h2 {
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 5em;
    text-shadow: 0 0 3px white; }
    @media (max-width: 700px) {
      #day-15 .wrapper h2 {
        font-size: 4em; } }
    @media (max-width: 450px) {
      #day-15 .wrapper h2 {
        font-size: 2em; } }
  /* line 66, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  #day-15 .wrapper #red {
    -webkit-animation: red-blink 3s ease-in-out infinite;
            animation: red-blink 3s ease-in-out infinite; }
  /* line 70, /Users/kellymiller/merrycssmas/assets/scss/_day15.scss */
  #day-15 .wrapper #green {
    -webkit-animation: green-blink 3s ease-in-out infinite;
            animation: green-blink 3s ease-in-out infinite; }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day17.scss */
#day-17 .day-link {
  color: #a42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day17.scss */
  #day-17 .day-link a {
    border: 1px solid #a42321;
    line-height: 0;
    padding: 1px 9px; }
/* line 11, /Users/kellymiller/merrycssmas/assets/scss/_day17.scss */
#day-17 .wrapper {
  background-color: #7C2C38;
  padding: 100px 25px;
  position: relative; }
  /* line 16, /Users/kellymiller/merrycssmas/assets/scss/_day17.scss */
  #day-17 .wrapper #left-quote, #day-17 .wrapper #right-quote {
    color: #5D212A;
    font-size: 5em;
    display: inline;
    font-size: 25em;
    position: absolute; }
    @media (max-width: 430px) {
      #day-17 .wrapper #left-quote, #day-17 .wrapper #right-quote {
        font-size: 18em; } }
  /* line 29, /Users/kellymiller/merrycssmas/assets/scss/_day17.scss */
  #day-17 .wrapper #left-quote {
    top: 0;
    left: 0; }
    @media (max-width: 430px) {
      #day-17 .wrapper #left-quote {
        top: 24px; } }
  /* line 38, /Users/kellymiller/merrycssmas/assets/scss/_day17.scss */
  #day-17 .wrapper #right-quote {
    right: 0;
    top: 30%; }
    @media (max-width: 430px) {
      #day-17 .wrapper #right-quote {
        top: 45%; } }
  /* line 47, /Users/kellymiller/merrycssmas/assets/scss/_day17.scss */
  #day-17 .wrapper h1 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    z-index: 1; }
    @media (max-width: 750px) {
      #day-17 .wrapper h1 {
        font-size: 1em; } }
    @media (max-width: 500px) {
      #day-17 .wrapper h1 {
        font-size: .75em; } }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day19.scss */
#day-19 .day-link {
  color: #a42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day19.scss */
  #day-19 .day-link a {
    border: 1px solid #a42321;
    line-height: 0;
    padding: 0 13px; }

/* line 1, /Users/kellymiller/merrycssmas/assets/scss/_day21.scss */
#day-21 {
  margin-top: 16px; }
  /* line 3, /Users/kellymiller/merrycssmas/assets/scss/_day21.scss */
  #day-21 .day-link {
    color: #a42321; }
    /* line 5, /Users/kellymiller/merrycssmas/assets/scss/_day21.scss */
    #day-21 .day-link a {
      border: 1px solid #a42321;
      line-height: 0;
      padding: 2px 8px; }
  /* line 12, /Users/kellymiller/merrycssmas/assets/scss/_day21.scss */
  #day-21 .wrapper {
    background-color: #E5AA03;
    color: #F2B700;
    text-align: center;
    padding: 50px 0;
    position: relative;
    z-index: -2; }
    /* line 20, /Users/kellymiller/merrycssmas/assets/scss/_day21.scss */
    #day-21 .wrapper #star {
      position: absolute;
      font-size: 11em;
      top: -4px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      color: #F2B700;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.15), 1px 1px 0px rgba(0, 0, 0, 0.15); }
      @media (max-width: 500px) {
        #day-21 .wrapper #star {
          font-size: 6em;
          top: 22px; } }
    /* line 37, /Users/kellymiller/merrycssmas/assets/scss/_day21.scss */
    #day-21 .wrapper h1 {
      font-family: 'Alice', serif;
      font-size: 5em;
      text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.15), 1px 1px 0px rgba(0, 0, 0, 0.15);
      position: relative;
      z-index: 1; }
      @media (max-width: 500px) {
        #day-21 .wrapper h1 {
          font-size: 3em; } }
      /* line 49, /Users/kellymiller/merrycssmas/assets/scss/_day21.scss */
      #day-21 .wrapper h1 span {
        color: #E5AA03;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15), -1px -1px 0px rgba(0, 0, 0, 0.15);
        padding-bottom: 15px; }

/* line 2, /Users/kellymiller/merrycssmas/assets/scss/_day23.scss */
#day-23 .day-link {
  color: #a42321; }
  /* line 4, /Users/kellymiller/merrycssmas/assets/scss/_day23.scss */
  #day-23 .day-link a {
    border: 1px solid #a42321;
    line-height: 0;
    padding: 0 13px; }

/* line 1, /Users/kellymiller/merrycssmas/assets/scss/_footer.scss */
footer {
  background-color: #A42321;
  color: #F1ECDA;
  font-family: 'Playfair Display', serif;
  padding: 25px 0; }
  /* line 8, /Users/kellymiller/merrycssmas/assets/scss/_footer.scss */
  footer #denise {
    float: left;
    width: 50%;
    padding: 0 100px; }
    @media (max-width: 900px) {
      footer #denise {
        float: none;
        width: 100%;
        padding-bottom: 15px; } }
    @media (max-width: 500px) {
      footer #denise {
        padding: 0 50px 25px; } }
  /* line 23, /Users/kellymiller/merrycssmas/assets/scss/_footer.scss */
  footer #kelly {
    float: left;
    width: 50%;
    padding: 0 100px; }
    @media (max-width: 900px) {
      footer #kelly {
        float: none;
        width: 100%; } }
    @media (max-width: 500px) {
      footer #kelly {
        padding: 0 50px 25px; } }
  /* line 37, /Users/kellymiller/merrycssmas/assets/scss/_footer.scss */
  footer .bio {
    line-height: 1.2; }
    /* line 39, /Users/kellymiller/merrycssmas/assets/scss/_footer.scss */
    footer .bio h1 {
      font-weight: 700;
      font-size: 1.5em;
      font-style: italic;
      padding-bottom: 3px; }
      @media (max-width: 500px) {
        footer .bio h1 {
          font-size: 1em; } }
    @media (max-width: 500px) {
      footer .bio h2 {
        font-size: .8em; } }
